extends layout

block content

  h1 ID: #{copy._id}

  p #[strong Title:]
    a(href=copy.book.url) #{copy.book.title}

  p #[strong Status:]
    if copy.status=='Available'
        span.available #{copy.status}
    else if copy.status=='Reserved'
        span.reserved #{copy.status}
    else if copy.status=='Loaned'
        span.loaned #{copy.status} 
        (Due back: #{copy.due_back_formatted} )

  if copy.status!='Available'
    p #[strong Due back:] #{copy.due_back_formatted}

  hr
  p
    a(href=copy.url+'/delete') Delete copy
  p
    a(href=copy.url+'/update') Update copy